/* public/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        scroll-behavior:smooth
    }

    .xl-margin-post-sidebar {
        margin-left: 16.666667%;
    }

    .sm-margin-post-sidebar {
        margin-left: 33.333333%;
    }

    .lg-margin-post-sidebar {
        margin-left: 25%;
    }

    p, a, h1, h2, h3, h4, h5, h6 , li{
        font-family: 'Roboto Slab', serif;
    }

    p, li {
        font-weight: 300;
    }

    a.text-nav-custom {
        font-weight: 700;
    }

    a.text-content-custom:hover {
        color: white;
    }

    .text-main {
        color: #ea5550;
    }

    .bg-main {
        background-color: #ea5550;
    }

    .text-main-dark {
        color: #882536;
    }

    .bg-main-dark {
        background-color: #882536;
    }

    .text-main-light {
        color: #ff4050;
    }

    .bg-main-light {
        background-color: #ff4050;
    }

    .text-darkblue-custom {
        color: #242d53;
    }

    .bg-darkblue-custom {
        background-color: #242d53
    }

    .text-content-custom {
        color: #7A787F
    }

    .text-title-custom {
        color: #252533
    }

    .bg-beige-custom {
        background-color: #fffafa
    }
}