---

import BaseLayout from '../layouts/BaseLayout.astro'

// page
const title = 'Eric Hazard CV';
const description = "Le CV de Eric Hazard, développeur Web sur Toulouse est disponible en téléchargement sur cette page.";
const canonicalUrl = Astro.request.canonicalURL;
const activeLink = "cv";

---

<BaseLayout
        title={title}
        description={description}
        canonicalUrl={canonicalUrl}
        activeLink={activeLink}
>
    <div class="px-8 sm:px-32">
        <h1 class="pt-10 text-center text-4xl font-bold">CV Eric Hazard</h1>

        <div class="sm:h-full ">
            <p class="py-12 text-center">Vous pouvez télécharger ici mon CV.</p>


        </div>
    </div>
</BaseLayout>