---

import BaseLayout from '../layouts/BaseLayout.astro'

// page
const title = 'Eric Hazard Mes expériences';
const description = "Découvrez mes expériences professionnelles ou de projets personnels dans le développement Web. Eric Hazard - Toulouse";
const canonicalUrl = Astro.request.canonicalURL;
const activeLink = "experiences";

---

<BaseLayout
        title={title}
        description={description}
        canonicalUrl={canonicalUrl}
        activeLink={activeLink}
>
    <h1 class="pt-16 text-center text-4xl font-bold">Mes expériences et formations</h1>
    <div class="flex justify-center">

    </div>
    <section class="flex justify-center pt-16">

        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-red-600">
                <div class="bg-red-600 p-4">
                    <p class="text-right text-white md:pr-4">Janvier 2020 / Septembre 2021 (en cours)</p>
                </div>
            </div>

            <div class="w-8/12 pl-8">
                <h2 class="text-red-600 font-bold">Projet personnel Jeu de Rôle</h2>
                <ul class="pt-6 flex flex-col gap-2">
                    <li>
                        <svg class="fill-current text-red-600 w-8 h-8 inline-block" height="8" viewBox="0 0 512 512" width="8" xmlns="http://www.w3.org/2000/svg"><g><path d="m424.339 0h-336.678c-12.975 0-23.532 10.557-23.532 23.532v464.936c0 12.976 10.557 23.532 23.532 23.532h328.662c12.976 0 23.532-10.557 23.532-23.532v-46.451c4.911-4.316 8.016-10.642 8.016-17.678v-400.807c0-12.975-10.557-23.532-23.532-23.532zm8.532 23.532v24.564h-8.532c-13.545 0-24.564-11.02-24.564-24.564v-8.532h24.564c4.704 0 8.532 3.828 8.532 8.532zm-321.678-8.532h33.097v8.532c0 13.545-11.02 24.564-24.565 24.564h-8.532zm-32.064 8.532c0-4.705 3.828-8.532 8.532-8.532h8.532v329.177c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-281.08h8.532c21.816 0 39.565-17.749 39.565-39.564v-8.533h225.484v8.532c0 21.816 17.749 39.564 39.564 39.564h8.532v321.678h-8.532c-21.816 0-39.564 17.749-39.564 39.564v8.532h-225.483v-8.532c0-21.816-17.749-39.564-39.565-39.564h-8.532v-8.533c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v56.629h-8.532c-3.008 0-5.886.567-8.532 1.601v-410.939zm345.21 409.339h-24.564v-8.532c0-13.545 11.02-24.564 24.564-24.564h8.532v24.564c0 4.704-3.828 8.532-8.532 8.532zm-313.146 0v-33.097h8.532c13.545 0 24.565 11.02 24.565 24.564v8.532h-33.097zm305.13 64.129h-328.662c-4.705 0-8.532-3.828-8.532-8.532v-32.064c0-4.705 3.828-8.532 8.532-8.532h336.678c.173 0 .344-.002.516-.005v17.07h-321.162c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h321.162v8.532c0 4.703-3.828 8.531-8.532 8.531z"/><path d="m133.885 369.574c19.912 5.135 35.471 20.694 40.605 40.605.854 3.312 3.841 5.627 7.262 5.627h180.559c3.421 0 6.408-2.315 7.262-5.627 5.135-19.912 20.694-35.471 40.605-40.605 3.312-.854 5.627-3.841 5.627-7.262v-226.554c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v220.991c-20.635 7.172-36.886 23.423-44.058 44.058h-169.432c-7.172-20.635-23.422-36.886-44.057-44.057v-265.628c20.635-7.171 36.885-23.422 44.057-44.057h169.434c7.172 20.635 23.423 36.886 44.058 44.058v12.571c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-18.134c0-3.421-2.315-6.408-5.627-7.262-19.912-5.135-35.471-20.694-40.605-40.605-.854-3.312-3.841-5.627-7.262-5.627h-180.56c-3.421 0-6.408 2.315-7.262 5.627-5.135 19.912-20.694 35.471-40.605 40.605-3.312.854-5.627 3.841-5.627 7.262v276.752c-.001 3.42 2.314 6.408 5.626 7.262z"/><path d="m288.965 245.612-16.936 50.792-6.243-18.728c-1.311-3.93-5.558-6.053-9.487-4.744-3.93 1.31-6.053 5.557-4.744 9.487l6.312 18.935c2.068 6.201 7.627 10.208 14.164 10.208s12.096-4.007 14.164-10.209l15.813-47.441 47.442-15.814c6.201-2.067 10.208-7.626 10.208-14.163s-4.007-12.097-10.208-14.165l-47.442-15.813-15.814-47.442c-2.067-6.201-7.627-10.208-14.164-10.208s-12.096 4.007-14.164 10.208l-15.813 47.442-47.442 15.813c-6.202 2.068-10.208 7.627-10.208 14.165 0 6.537 4.007 12.096 10.209 14.163l50.999 17c3.929 1.31 8.177-.814 9.487-4.744 1.31-3.929-.814-8.177-4.744-9.487l-50.792-16.936 50.792-16.93c2.24-.747 3.997-2.504 4.744-4.744l16.936-50.792 16.931 50.792c.747 2.24 2.504 3.997 4.744 4.744l50.792 16.936-50.792 16.931c-2.24.747-3.997 2.505-4.744 4.744z"/></g></svg>
                        Construction du projet et analyse du besoin
                        <ul class="pl-12 pt-2 flex flex-col gap-2">
                            <li>
                                <svg class="fill-current text-indigo-00 w-8 h-8 inline-block" height="8" viewBox="0 0 512 512" width="8"  xmlns="http://www.w3.org/2000/svg"><g><path d="m496 368h-32v-260a28.031 28.031 0 0 0 -28-28h-360a28.031 28.031 0 0 0 -28 28v260h-32a8 8 0 0 0 -8 8v28a28.031 28.031 0 0 0 28 28h440a28.031 28.031 0 0 0 28-28v-28a8 8 0 0 0 -8-8zm-432-260a12.01 12.01 0 0 1 12-12h360a12.01 12.01 0 0 1 12 12v260h-384zm224 276v8h-64v-8zm200 20a12.01 12.01 0 0 1 -12 12h-440a12.01 12.01 0 0 1 -12-12v-20h184v16a8 8 0 0 0 8 8h80a8 8 0 0 0 8-8v-16h184z"/><path d="m88 392h-48a8 8 0 0 0 0 16h48a8 8 0 0 0 0-16z"/><path d="m120 392h-8a8 8 0 0 0 0 16h8a8 8 0 0 0 0-16z"/><path d="m440 352v-240a8 8 0 0 0 -8-8h-352a8 8 0 0 0 -8 8v240a8 8 0 0 0 8 8h352a8 8 0 0 0 8-8zm-16-8h-336v-224h336z"/><path d="m220.031 302.946a8 8 0 0 0 10.915-2.977l64-112a8 8 0 1 0 -13.892-7.938l-64 112a8 8 0 0 0 2.977 10.915z"/><path d="m307.2 310.4a8 8 0 0 0 11.2-1.6l48-64a8 8 0 0 0 0-9.6l-48-64a8 8 0 0 0 -12.8 9.6l44.4 59.2-44.4 59.2a8 8 0 0 0 1.6 11.2z"/><path d="m193.6 308.8a8 8 0 1 0 12.8-9.6l-44.4-59.2 44.4-59.2a8 8 0 1 0 -12.8-9.6l-48 64a8 8 0 0 0 0 9.6z"/></g></svg>
                                Enquête sur les utilisateurs
                            </li>
                            <li>Pratique du jeu de rôle selon le point de vue de l'utilisateur</li>
                            <li>Définition des besoins</li>
                            <li>Benchmark des applications desktop/mobile existantes</li>
                        </ul>
                    </li>
                    <li>
                        <svg class="fill-current text-red-600 w-8 h-8 inline-block" height="8" viewBox="0 0 512 512" width="8" xmlns="http://www.w3.org/2000/svg"><g><path d="m424.339 0h-336.678c-12.975 0-23.532 10.557-23.532 23.532v464.936c0 12.976 10.557 23.532 23.532 23.532h328.662c12.976 0 23.532-10.557 23.532-23.532v-46.451c4.911-4.316 8.016-10.642 8.016-17.678v-400.807c0-12.975-10.557-23.532-23.532-23.532zm8.532 23.532v24.564h-8.532c-13.545 0-24.564-11.02-24.564-24.564v-8.532h24.564c4.704 0 8.532 3.828 8.532 8.532zm-321.678-8.532h33.097v8.532c0 13.545-11.02 24.564-24.565 24.564h-8.532zm-32.064 8.532c0-4.705 3.828-8.532 8.532-8.532h8.532v329.177c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-281.08h8.532c21.816 0 39.565-17.749 39.565-39.564v-8.533h225.484v8.532c0 21.816 17.749 39.564 39.564 39.564h8.532v321.678h-8.532c-21.816 0-39.564 17.749-39.564 39.564v8.532h-225.483v-8.532c0-21.816-17.749-39.564-39.565-39.564h-8.532v-8.533c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v56.629h-8.532c-3.008 0-5.886.567-8.532 1.601v-410.939zm345.21 409.339h-24.564v-8.532c0-13.545 11.02-24.564 24.564-24.564h8.532v24.564c0 4.704-3.828 8.532-8.532 8.532zm-313.146 0v-33.097h8.532c13.545 0 24.565 11.02 24.565 24.564v8.532h-33.097zm305.13 64.129h-328.662c-4.705 0-8.532-3.828-8.532-8.532v-32.064c0-4.705 3.828-8.532 8.532-8.532h336.678c.173 0 .344-.002.516-.005v17.07h-321.162c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h321.162v8.532c0 4.703-3.828 8.531-8.532 8.531z"/><path d="m133.885 369.574c19.912 5.135 35.471 20.694 40.605 40.605.854 3.312 3.841 5.627 7.262 5.627h180.559c3.421 0 6.408-2.315 7.262-5.627 5.135-19.912 20.694-35.471 40.605-40.605 3.312-.854 5.627-3.841 5.627-7.262v-226.554c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v220.991c-20.635 7.172-36.886 23.423-44.058 44.058h-169.432c-7.172-20.635-23.422-36.886-44.057-44.057v-265.628c20.635-7.171 36.885-23.422 44.057-44.057h169.434c7.172 20.635 23.423 36.886 44.058 44.058v12.571c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-18.134c0-3.421-2.315-6.408-5.627-7.262-19.912-5.135-35.471-20.694-40.605-40.605-.854-3.312-3.841-5.627-7.262-5.627h-180.56c-3.421 0-6.408 2.315-7.262 5.627-5.135 19.912-20.694 35.471-40.605 40.605-3.312.854-5.627 3.841-5.627 7.262v276.752c-.001 3.42 2.314 6.408 5.626 7.262z"/><path d="m288.965 245.612-16.936 50.792-6.243-18.728c-1.311-3.93-5.558-6.053-9.487-4.744-3.93 1.31-6.053 5.557-4.744 9.487l6.312 18.935c2.068 6.201 7.627 10.208 14.164 10.208s12.096-4.007 14.164-10.209l15.813-47.441 47.442-15.814c6.201-2.067 10.208-7.626 10.208-14.163s-4.007-12.097-10.208-14.165l-47.442-15.813-15.814-47.442c-2.067-6.201-7.627-10.208-14.164-10.208s-12.096 4.007-14.164 10.208l-15.813 47.442-47.442 15.813c-6.202 2.068-10.208 7.627-10.208 14.165 0 6.537 4.007 12.096 10.209 14.163l50.999 17c3.929 1.31 8.177-.814 9.487-4.744 1.31-3.929-.814-8.177-4.744-9.487l-50.792-16.936 50.792-16.93c2.24-.747 3.997-2.504 4.744-4.744l16.936-50.792 16.931 50.792c.747 2.24 2.504 3.997 4.744 4.744l50.792 16.936-50.792 16.931c-2.24.747-3.997 2.505-4.744 4.744z"/></g></svg>
                        Construction des spécifications
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Définition de deux applications</li>
                            <li>Choix des technologies appropriées</li>
                            <li>Auto-Formation sur Api-Platform, Symfony 5 et React</li>
                        </ul>
                    </li>
                    <li>
                        <svg class="fill-current text-red-600 w-8 h-8 inline-block" height="8" viewBox="0 0 512 512" width="8" xmlns="http://www.w3.org/2000/svg"><g><path d="m424.339 0h-336.678c-12.975 0-23.532 10.557-23.532 23.532v464.936c0 12.976 10.557 23.532 23.532 23.532h328.662c12.976 0 23.532-10.557 23.532-23.532v-46.451c4.911-4.316 8.016-10.642 8.016-17.678v-400.807c0-12.975-10.557-23.532-23.532-23.532zm8.532 23.532v24.564h-8.532c-13.545 0-24.564-11.02-24.564-24.564v-8.532h24.564c4.704 0 8.532 3.828 8.532 8.532zm-321.678-8.532h33.097v8.532c0 13.545-11.02 24.564-24.565 24.564h-8.532zm-32.064 8.532c0-4.705 3.828-8.532 8.532-8.532h8.532v329.177c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-281.08h8.532c21.816 0 39.565-17.749 39.565-39.564v-8.533h225.484v8.532c0 21.816 17.749 39.564 39.564 39.564h8.532v321.678h-8.532c-21.816 0-39.564 17.749-39.564 39.564v8.532h-225.483v-8.532c0-21.816-17.749-39.564-39.565-39.564h-8.532v-8.533c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v56.629h-8.532c-3.008 0-5.886.567-8.532 1.601v-410.939zm345.21 409.339h-24.564v-8.532c0-13.545 11.02-24.564 24.564-24.564h8.532v24.564c0 4.704-3.828 8.532-8.532 8.532zm-313.146 0v-33.097h8.532c13.545 0 24.565 11.02 24.565 24.564v8.532h-33.097zm305.13 64.129h-328.662c-4.705 0-8.532-3.828-8.532-8.532v-32.064c0-4.705 3.828-8.532 8.532-8.532h336.678c.173 0 .344-.002.516-.005v17.07h-321.162c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h321.162v8.532c0 4.703-3.828 8.531-8.532 8.531z"/><path d="m133.885 369.574c19.912 5.135 35.471 20.694 40.605 40.605.854 3.312 3.841 5.627 7.262 5.627h180.559c3.421 0 6.408-2.315 7.262-5.627 5.135-19.912 20.694-35.471 40.605-40.605 3.312-.854 5.627-3.841 5.627-7.262v-226.554c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v220.991c-20.635 7.172-36.886 23.423-44.058 44.058h-169.432c-7.172-20.635-23.422-36.886-44.057-44.057v-265.628c20.635-7.171 36.885-23.422 44.057-44.057h169.434c7.172 20.635 23.423 36.886 44.058 44.058v12.571c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-18.134c0-3.421-2.315-6.408-5.627-7.262-19.912-5.135-35.471-20.694-40.605-40.605-.854-3.312-3.841-5.627-7.262-5.627h-180.56c-3.421 0-6.408 2.315-7.262 5.627-5.135 19.912-20.694 35.471-40.605 40.605-3.312.854-5.627 3.841-5.627 7.262v276.752c-.001 3.42 2.314 6.408 5.626 7.262z"/><path d="m288.965 245.612-16.936 50.792-6.243-18.728c-1.311-3.93-5.558-6.053-9.487-4.744-3.93 1.31-6.053 5.557-4.744 9.487l6.312 18.935c2.068 6.201 7.627 10.208 14.164 10.208s12.096-4.007 14.164-10.209l15.813-47.441 47.442-15.814c6.201-2.067 10.208-7.626 10.208-14.163s-4.007-12.097-10.208-14.165l-47.442-15.813-15.814-47.442c-2.067-6.201-7.627-10.208-14.164-10.208s-12.096 4.007-14.164 10.208l-15.813 47.442-47.442 15.813c-6.202 2.068-10.208 7.627-10.208 14.165 0 6.537 4.007 12.096 10.209 14.163l50.999 17c3.929 1.31 8.177-.814 9.487-4.744 1.31-3.929-.814-8.177-4.744-9.487l-50.792-16.936 50.792-16.93c2.24-.747 3.997-2.504 4.744-4.744l16.936-50.792 16.931 50.792c.747 2.24 2.504 3.997 4.744 4.744l50.792 16.936-50.792 16.931c-2.24.747-3.997 2.505-4.744 4.744z"/></g></svg>
                        Réalisation des projets
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Test des stacks techniques</li>
                            <li>Premiers prototypes</li>
                            <li>Premiers retours et modification des choix techniques</li>
                            <li>Seconde itération</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16">

        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-red-600">
                <div class="bg-red-600 p-4">
                    <p class="text-white text-right md:pr-4">Septembre 2017 / Septembre 2019</p>
                </div>
            </div>

            <div class="w-8/12">
                <h2 class="text-red-600 font-bold">Agence Web Agoravita - CDI</h2>
                <ul class="pt-6 list-disc list-inside flex flex-col gap-2">
                    <li>
                        Développement et maintenance de sites en utilisant le framework PHP spécifique à l'entreprise.
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Sites statiques
                                <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                                    <li>Meta-données SEO</li>
                                    <li>Structure HTML</li>
                                    <li>RGPD</li>
                                    <li>Mise en place de Google Map et Google Analytics</li>
                                </ul>
                            </li>
                            <li>
                                Sites Dynamiques
                                <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                                    <li>Création de CRUD</li>
                                    <li>Authentification et autorisations</li>
                                    <li>Espace administration (Back-office)</li>
                                    <li>Communication avec prestataires</li>
                                    <li>Gestion d'import de fichiers</li>
                                    <li>Génération de PDF</li>
                                    <li>Export de résultats de requêtes SQL spécifiques</li>
                                </ul>
                            </li>
                            <li>
                                Maintenance de sites
                                <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                                    <li>Résolution de bugs</li>
                                    <li>Mise en production</li>
                                    <li>Tests</li>
                                    <li>Sauvegarde BDD</li>
                                    <li>Rédaction de documentation</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16 pb-8">
        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-red-600">
                <div class="bg-red-600 p-4">
                    <p class="text-white text-right md:pr-4">Mai 2016 / Février 2017</p>
                </div>
            </div>

            <div class="w-6/12">
                <h2 class="text-red-600 font-bold">DOCTOR IT - Stage puis CDD</h2>
                <ul class="pt-6 list-disc list-inside flex flex-col gap-2">
                    <li>
                        Développement d'outils pour l'entreprise
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Générateur de sites vitrines statiques</li>
                            <li>Interfaces pour les vendeurs de l'entreprise</li>
                            <li>Création de modules</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16 pb-8">
        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-red-600">
                <div class="bg-indigo-600 p-4">
                    <p class="text-white text-right md:pr-4">2015-2016</p>
                </div>
            </div>

            <div class="w-6/12">
                <h2 class="text-indigo-600 font-bold">Formation Développeur Web (Bac+2) à AP formation</h2>
                <p>Formation condensée en un an avec stage professionnel. HTML/CSS/JS, Algorithmie,  Symfony</p>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16 pb-8">
        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-red-600">
                <div class="bg-indigo-600 p-4">
                    <p class="text-white text-right md:pr-4">2012-2014</p>
                </div>
            </div>

            <div class="w-6/12">
                <h2 class="text-indigo-600 font-bold">Préparation concours Agrégation Histoire</h2>
                <p>J'ai préparé et tenté les concours de l'agrégation en Histoire pendant deux ans. J'ai acquis des méthodes pour organiser son travail avec efficacité </p>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16 pb-8">
        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-red-600">
                <div class="bg-indigo-600 p-4">
                    <p class="text-white text-right md:pr-4">2013</p>
                </div>
            </div>

            <div class="w-6/12">
                <h2 class="text-indigo-600 font-bold">Master 2 Histoire Médiévale (Mention TB)</h2>
                <p>Mémoire portant sur l'utilisation des différentes cours de justice par les élites bourgeoises de Montpellier au XXXX pour obtenir gain de cause.</p>
                <ul class="pt-6 list-disc list-inside flex flex-col gap-2">
                    <li>
                        Construction et réalisation d'un travail de recherche universitaire
                        <ul class="pl-12 pt-2 flex flex-col gap-2">
                            <li>
                                <svg class="inline-block w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297.613 297.613"><circle cx="15.279" cy="14.83" r="14.83"/><circle cx="59.32" cy="59.769" r="14.83"/><circle cx="59.32" cy="14.83" r="14.83"/><circle cx="104.261" cy="59.769" r="14.83"/><circle cx="104.261" cy="103.81" r="14.83"/><circle cx="104.261" cy="14.83" r="14.83"/><circle cx="148.302" cy="59.769" r="14.83"/><circle cx="148.302" cy="103.81" r="14.83"/><circle cx="148.302" cy="14.83" r="14.83"/><circle cx="192.343" cy="59.769" r="14.83"/><circle cx="192.343" cy="103.81" r="14.83"/><circle cx="148.302" cy="147.852" r="14.83"/><circle cx="192.343" cy="147.852" r="14.83"/><circle cx="104.261" cy="192.79" r="14.831"/><circle cx="148.302" cy="192.79" r="14.831"/><circle cx="192.343" cy="192.79" r="14.831"/><circle cx="59.32" cy="236.887" r="14.83"/><circle cx="104.261" cy="236.887" r="14.83"/><circle cx="148.302" cy="236.887" r="14.83"/><circle cx="192.343" cy="236.887" r="14.83"/><circle cx="238.238" cy="103.81" r="14.83"/><circle cx="238.238" cy="147.852" r="14.83"/><circle cx="238.238" cy="192.79" r="14.831"/><circle cx="15.279" cy="282.782" r="14.831"/><circle cx="59.32" cy="282.782" r="14.831"/><circle cx="104.261" cy="282.782" r="14.831"/><circle cx="148.302" cy="282.782" r="14.831"/><circle cx="282.334" cy="147.852" r="14.83"/></svg>
                                Paléographie
                            </li>
                            <li>Recherche et synthèse d'informations</li>
                            <li>Rédaction d'un texte scientifique</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>




</BaseLayout>