---

import BaseLayout from '../layouts/BaseLayout.astro'

// page
const title = 'Eric Hazard Mes expériences';
const description = "Découvrez mes expériences professionnelles ou de projets personnels dans le développement Web. Eric Hazard - Toulouse";
const canonicalUrl = Astro.request.canonicalURL;
const activeLink = "experiences";

---

<BaseLayout
        title={title}
        description={description}
        canonicalUrl={canonicalUrl}
        activeLink={activeLink}
>
    <h1 class="pt-16 text-center text-2xl font-bold">Mes expériences</h1>
    <div class="flex justify-center">

    </div>
    <section class="flex justify-center pt-16">

        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-purple-800">
                <div class="bg-purple-800 p-4">
                    <p class="text-right text-white md:pr-4">Janvier 2020 / Septembre 2021 (en cours)</p>
                </div>
            </div>

            <div class="w-8/12 pl-8">
                <h2 class="text-purple-800 font-bold">Projet personnel Jeu de Rôle</h2>
                <ul class="pt-6 list-disc list-inside flex flex-col gap-2">
                    <li>
                        Construction du projet et analyse du besoin
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Enquête sur les utilisateurs</li>
                            <li>Pratique du jeu de rôle selon le point de vue de l'utilisateur</li>
                            <li>Définition des besoins</li>
                            <li>Benchmark des applications desktop/mobile existantes</li>
                        </ul>
                    </li>
                    <li>
                        Construction des spécifications
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Définition de deux applications</li>
                            <li>Choix des technologies appropriées</li>
                            <li>Auto-Formation sur Api-Platform, Symfony 5 et React</li>
                        </ul>
                    </li>
                    <li>
                        Réalisation des projets
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Test des stacks techniques</li>
                            <li>Premiers prototypes</li>
                            <li>Premiers retours et modification des choix techniques</li>
                            <li>Seconde itération</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16">

        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-purple-800">
                <div class="bg-purple-800 p-4">
                    <p class="text-white text-right md:pr-4">Septembre 2019 / Septembre 2020</p>
                </div>
            </div>

            <div class="w-8/12">
                <h2 class="text-purple-800 font-bold">Agence Web Agoravita - CDI</h2>
                <ul class="pt-6 list-disc list-inside flex flex-col gap-2">
                    <li>
                        Développement et maintenance de sites en utilisant le framework PHP spécifique à l'entreprise.
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Sites statiques
                                <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                                    <li>Meta-données SEO</li>
                                    <li>Structure HTML</li>
                                    <li>RGPD</li>
                                    <li>Mise en place de Google Map et Google Analytics</li>
                                </ul>
                            </li>
                            <li>
                                Sites Dynamiques
                                <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                                    <li>Création de CRUD</li>
                                    <li>Authentification et autorisations</li>
                                    <li>Espace administration (Back-office)</li>
                                    <li>Communication avec prestataires</li>
                                    <li>Gestion d'import de fichiers</li>
                                    <li>Génération de PDF</li>
                                    <li>Export de résultats de requêtes SQL spécifiques</li>
                                </ul>
                            </li>
                            <li>
                                Maintenance de sites
                                <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                                    <li>Résolution de bugs</li>
                                    <li>Mise en production</li>
                                    <li>Tests</li>
                                    <li>Sauvegarde BDD</li>
                                    <li>Rédaction de documentation</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16 pb-8">
        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-purple-800">
                <div class="bg-purple-800 p-4">
                    <p class="text-white text-right md:pr-4">Août 2017 / Février 2017</p>
                </div>
            </div>

            <div class="w-6/12">
                <h2 class="text-purple-800 font-bold">DOCTOR IT - CDD</h2>
                <ul class="pt-6 list-disc list-inside flex flex-col gap-2">
                    <li>
                        Développement d'outils pour l'entreprise
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Générateur de sites vitrines statiques</li>
                            <li>Interfaces pour les vendeurs de l'entreprise</li>
                            <li>Création de modules</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16 pb-8">
        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-purple-800">
                <div class="bg-indigo-800 p-4">
                    <p class="text-white text-right md:pr-4">2012-2014</p>
                </div>
            </div>

            <div class="w-6/12">
                <h2 class="text-indigo-800 font-bold">Préparation concours Agrégation Histoire</h2>
                <p>J'ai préparé et tenté les concours de l'agrégation en Histoire pendant deux ans. J'ai acquis des méthodes pour organiser son travail avec efficacité </p>
            </div>
        </div>
    </section>

    <section class="flex justify-center pt-16 pb-8">
        <div class="w-9/12 flex flex-col md:flex-row">
            <div class="w-4/12 border-b-2 border-r-0 md:border-b-0 md:border-r-2 border-purple-800">
                <div class="bg-indigo-800 p-4">
                    <p class="text-white text-right md:pr-4">2013</p>
                </div>
            </div>

            <div class="w-6/12">
                <h2 class="text-indigo-800 font-bold">Master 2 Histoire Médiévale (Mention TB)</h2>
                <p>Mémoire portant sur l'utilisation des différentes cours de justice par les élites bourgeoises de Montpellier au XXXX pour obtenir gain de cause.</p>
                <ul class="pt-6 list-disc list-inside flex flex-col gap-2">
                    <li>
                        Construction et réalisation d'un travail de recherche universitaire
                        <ul class="list-disc list-inside pl-12 pt-2 flex flex-col gap-2">
                            <li>Paléographie</li>
                            <li>Recherche et synthèse d'informations</li>
                            <li>Rédaction d'un texte scientifique</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>




</BaseLayout>