---

import BaseLayout from '../layouts/BaseLayout.astro'

// page
const title = 'Eric Hazard Vcard';
const description = "Le site CV d'Eric Hazard, développeur web à Toulouse";
const canonicalUrl = Astro.request.canonicalURL;
const activeLink = "index";

---

<BaseLayout
        title={title}
        description={description}
        canonicalUrl={canonicalUrl}
        activeLink={activeLink}
>

    <section class="bg-gray-100 px-16 md:px-32 pt-8 pb-8">
        <h1 class="font-bold text-5xl mb-2 text-center md:text-left">Eric HAZARD</h1>
        <h2 class="block md:inline-block font-bold text-xl text-lightblue-custom text-center md:text-left">Développeur Web sur Toulouse</h2>
        <p class="block md:inline-block text-lightblue-custom text-lg text-center md:text-left">  (2 ans d'expérience)</p>

        <div class="flex flex-row mt-8">
            <div id="sidePicture" class="md:w-4/12 bg-gray-900">
                <img class="object-cover h-full w-full" src="/assets/computer.jpg" alt="">
            </div>
            <div class="md:w-8/12">
                <div class="md:mx-12">
                    <p class="text-xl tracking-wider leading-relaxed">
                        Diplômé en Histoire (Master Recherche), je me suis reconverti dans le développement Web en 2016. J'ai par la suite travaillé 2 ans comme développeur backend PHP dans une agence web sur Toulouse. J'ai profité de la difficile période des confinements pour me former sur les méthodes de travail, outils et technologies pour m'améliorer à travers de véritables projets d'applications qui sont encore en cours de développement. Vous pourrez trouver plus d'information à ce sujet dans la partie <a class="text-red-600 underline " href="/projets">Projets</a>.
                    </p>
                    <br>
                    <p class="text-xl tracking-wide leading-relaxed">
                        Je cherche un travail de développeur web dans les écosystèmes PHP et JS. Lors de mes expériences professionnelles, j'ai travaillé avec Symfony et un framework propre à l'entreprise. Lorsque je travaille sur un projet, j'essaye toujours de comprendre le besoin utilisateur pour pouvoir choisir les outils techniques les plus pertinents. C'est la raison pour laquelle, je me suis activement formé à de multiples outils.
                    </p>
                </div>
            </div>
        </div>

    </section>
    <section class="pt-8">
        <p class="text-lightblue-custom text-center font-bold text-2xl p-4 md:p-0">Mes technologies favorites pour la réalisation d'applications ou de sites complexes  </p>
        <div class="px-32 pt-10 pb-8">
            <ol class="flex flex-col md:flex-row  justify-center md:justify-between">
                <li class="flex flex-col md:p-0 py-4">
                    <img class="md:w-42 md:h-42  " src="/assets/react-logo.svg" alt="React">
                    <p class="text-center font-bold text-blue-400">REACT</p>
                </li>
                <li class="flex flex-col md:p-0 py-4">
                    <img class="md:w-36 md:h-36 mb-2" src="/assets/symfony-logo.svg" alt="Symfony">
                    <p class="text-center font-bold">SYMFONY</p>
                </li>
                <li class="flex flex-col md:p-0 py-4">
                    <img class="md:w-36 md:h-36 mb-2" src="/assets/laravel-logo.svg" alt="Laravel">
                    <p class="text-center font-bold text-red-600">LARAVEL</p>
                </li>
                <li class="md:p-0 py-4">
                    <img class="md:w-42 md:h-42" src="/assets/api-platform-logo.svg" alt="API Platform">
                </li>
            </ol>
        </div>

    </section>

</BaseLayout>