---

import BaseLayout from '../layouts/BaseLayout.astro'

// page
const title = 'Eric Hazard Vcard';
const description = "Le site CV d'Eric Hazard, développeur web à Toulouse";
const canonicalUrl = Astro.request.canonicalURL;
const activeLink = "index";

---

<BaseLayout
        title={title}
        description={description}
        canonicalUrl={canonicalUrl}
        activeLink={activeLink}
>

    <section class="bg-gray-100 px-32 pt-20">
        <h1 class="font-bold text-5xl mb-6">Eric HAZARD</h1>
        <h2 class="block md:inline-block font-bold text-xl text-gray-500">Développeur Web sur Toulouse</h2>
        <p class="block md:inline-block text-gray-500 text-lg">  (2 ans d'expérience)</p>

        <div class="flex flex-row">
            <div class="md:w-4/12 h-screen bg-gray-900">
                
            </div>
            <div class="md:w-8/12">
                <p class="text-lg">
                    Diplômé en Histoire (Master Recherche), je me suis reconverti dans le développement Web en 200X.  J'ai par la suite travaillé  2 ans comme développeur backend PHP dans une agence web  sur Toulouse. J'ai passé la difficile période des premiers confinements à me former sur les méthodes de travail,  outils et technologies pour m'améliorer à travers de véritables projets d'applications qui sont encore en cours de développement. Vous pourrez trouver plus d'information là dessus dans la partie
                    <a href="/projetd">Projets</a>.

                </p>
            </div>

        </div>


    </section>
    <section>

    </section>

</BaseLayout>