---

import MainHeader from '../components/MainHeader.astro'
import Sidebar from '../components/Sidebar.astro'

---

<html lang="fr">
<head>
    <MainHeader/>
</head>

<body>
<Sidebar/>
</body>
</html>
