---

import MainHeader from '../components/MainHeader.astro'
import Sidebar from '../components/Sidebar.astro'

export interface Props {
title: string;
description: string;
canonicalUrl?: string;
activeLink?: string;
}

const { title, description, canonicalUrl, activeLink } = Astro.props as Props;

---

<html lang="fr">
<head>
    <MainHeader
            title={title}
            description={description}
            canonicalUrl={canonicalUrl}
    />
</head>

<body>
<div class="flex flex-col sm:flex-row">
    <header class="w-screen sm:w-2/6 lg:w-3/12 xl:w-2/12 bg-main sm:min-h-screen sm:fixed">
        <Sidebar
                activeLink={activeLink}
        />
    </header>

    <main class="w-full xl:xl-margin-post-sidebar sm:sm-margin-post-sidebar lg:lg-margin-post-sidebar xl:w-10/12 sm:w-4/6 lg:w-5/6 bg-beige-custom">
        <slot/>
    </main>

</div>
<script>
    const rootElement = document.documentElement
    const isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
    const navbar = document.querySelector('#navbar');
    const buttonMenu = document.querySelector("#buttonMenu");

    //  START Page Index //
    const indexSidePicture = document.querySelector('#sidePicture');
    // END Page Index //

    // START UptoScroll
    const upToScrollButton = document.querySelector('#scrollToTop');
    const handleScroll = () => {
        let scrollableHeight = rootElement.scrollHeight - rootElement.clientHeight;
        const RATIO = 0.8;
        console.log((rootElement.scrollTop / scrollableHeight) > RATIO)
        if ((rootElement.scrollTop / scrollableHeight ) > 0.80) {
            upToScrollButton.style.display="block";
        } else {
            upToScrollButton.style.display="none";
        }
    };
    const scrollToTop = () => {
      window.scrollTo({
          top: 0,
          behavior: "smooth"
      });
    };
    // END  UptoScroll //

    if(isMobile){
        navbar.classList.add('hidden');
        if(indexSidePicture) {
            indexSidePicture.classList.add('hidden');
        }
    }

    if(buttonMenu && navbar) {
        buttonMenu.addEventListener('click', () => {
            if(navbar.classList.contains('hidden')){
                navbar.classList.remove('hidden');
            } else {
                navbar.classList.add('hidden');
            }
        });
    }

    if(upToScrollButton){
        document.addEventListener("scroll", handleScroll);
        upToScrollButton.addEventListener("click", scrollToTop);
    }
</script>

</body>
</html>
